/* From Uiverse.io by adamgiebl */ 
.card {
    margin: auto;
    width: 80%;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#cb97f1, #a294fa 50%,#88eef5);
  }
  
  .card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }
  .source{
    justify-content: center;
  }
  .title2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
  p{
    color: white;
 text-align: start;
 font-size: 20px;
  }
  .t-content{
    padding: 20px;
  }